<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CountriesURL</key>
	<string>https://restcountries.eu/rest/v2/all</string>
	<key>CountryIconURL</key>
	<string>https://www.countryflags.io/[CODE]/flat/64.png</string>
</dict>
</plist>
